<template>
  <Row class="baccarat-header" type="flex" justify="space-between" align="middle">
    <Col>
      <Row>
        <h1 class="baccarat-header-title">{{title}}</h1>
        <p class="baccarat-header-draw-no-container">
          {{ $t("general.draw_no") }}
          <span ref="header-draw-no"></span>
        </p>
      </Row>
    </Col>
    <Col>
      <Row type="flex" align="middle">
        <Col>
          <new-bet-lot
            :type="type || 'o1'"
            :odd="odd(type)"
            :game="game"
            :game-data="gameData"
            :gameType="game"
            :minutes-string="minutesString"
            :seconds-string="secondsString"
            :disallow-betting="disallowBetting"
            :rebets="rebets"
            :norebetlast="norebetlast"
            :previousdrawno="previousdrawno"
          >
            <Button
              :disabled="disallowBetting"
              class="baccarat-header-button"
              @click="rebetOnClick"
            >{{ $t("general.rebet") }}</Button>
          </new-bet-lot>
        </Col>
        <Col class="baccarat-header-counter">
          <span>{{ minutesString[0] }}</span>
          <span>{{ minutesString[1] }}</span>
          <span class="baccarat-header-counter-colon">:</span>
          <span>{{ secondsString[0] }}</span>
          <span>{{ secondsString[1] }}</span>
        </Col>
      </Row>
    </Col>
  </Row>
</template>

<script>
import { Row, Col, Button } from "iview";
import axios from "../../configs/axios";
import NewBetLot from "../commons/NewBetLot";
import gameHeaderMixin from "../../mixins/game-header-mixin";

export default {
  mixins: [gameHeaderMixin],
  components: {
    Row,
    Col,
    Button,
    NewBetLot
  },
  data() {
    return {
      rebets: null,
      rebetLoading: false,
      norebetlast: false,
      previousdrawno: null,
      type: "",
      popperOptions: {
        placement: "bottom",
        hide: true,
        modifiers: {
          flip: { behavior: ["bottom"] },
          preventOverflow: {
            priority: ["left", "right", "top"],
            offset: { offset: "0,10px" }
          }
        }
      }
    };
  },
  watch: {
    rebets(newVal) {
      if (newVal && newVal.beton) {
        this.type = `o${newVal.beton[0].bet_type}`;
      }
    }
  },
  computed: {},
  methods: {
    odd(type) {
      return this.gameData.odds && this.gameData.odds[type];
    },
    async rebetOnClick() {
      this.rebets = 1;
      this.norebetlast = false;
      let res = await axios(
        `${RebetUrl}game=${this.game}&drawID=${this.gameData.previousdrawno}&gID=${this.gameData.gID}`
      );
      this.previousdrawno = this.gameData.previousdrawno;

      if (this.rebets == 1) {
        this.norebetlast = true;

        let resData = res.data;
        this.rebets = resData.data;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.baccarat-header {
  position: relative;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  color: $title-font-color;
  background: $header-light-color;
  background: linear-gradient(
    180deg,
    $header-light-color 0%,
    $header-dark-color 100%
  );
  background-size: contain;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 4px 4px 0px #00000015;
  // line-height: 45px;
  font-size: 15px;
  font-weight: bold;
  cursor: all-scroll;
}

.baccarat-header-title {
  display: block;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 15px;
}

.baccarat-header-draw-no-container {
  color: $game-header-draw-font-color;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
}

.baccarat-header-button {
  background-color: #223b6e;
  color: $max-dice-theme-color-5;
  border-radius: 6px;
  font-size: 14px;
  margin-right: 5px;
  margin-top: 3px;
  padding: 2px 18px;
  font-weight: bolder;
  cursor: pointer;
}

.baccarat-header-button:hover {
  color: #57a3f3;
  background-color: white;
  border-color: #57a3f3;
}

.baccarat-header-counter span {
  background: $max-dice-theme-color-13;
  color: $max-dice-theme-color-5;
  padding: 0 5px;
  width: 20px;
  height: 26px;
  line-height: 26px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin: 0 2px;
  margin-top: 4px;
}

.baccarat-header-counter .baccarat-header-counter-colon {
  color: $max-dice-theme-color-5;
  background: transparent;
  text-align: center;
  padding: 0;
  width: auto;
}

@media only screen and (max-width: 360px) {
  .baccarat-header-button {
    margin-right: 5px;
    padding: 2px 4px;
  }

  .baccarat-header-counter span {
    width: 18px;
    line-height: 26px;
    font-size: 12px;
    margin-top: 4px;
  }
}
</style>
