<template>
  <div class="baccarat-game" :class="{ 'open-result': openResult }">
    <baccarat-card
      v-if="
        drawResult.p_card_f &&
          drawResult.p_card_s &&
          drawResult.b_card_f &&
          drawResult.b_card_s
      "
      :game="game"
      :game-data="gameData"
      :disallow-betting="disallowBetting"
      :minutes-string="minutesString"
      :seconds-string="secondsString"
      :showDrawingAnimation="showDrawingAnimation"
      :draw-result="drawResult"
      @on-animation-end="onAnimationEnd"
      @show-result="showResult"
    />
    <baccarat-result
      :game="game"
      :game-data="gameData"
      :disallow-betting="disallowBetting"
      :minutes-string="minutesString"
      :seconds-string="secondsString"
      :win-cell-no="obj.getResultPB_sum"
      @show-result="showResult"
    />

    <baccarat-pair
      :game="game"
      :game-data="gameData"
      :disallow-betting="disallowBetting"
      :minutes-string="minutesString"
      :seconds-string="secondsString"
      :draw-result="drawResult"
      @show-result="showResult"
    />

    <baccarat-sum
      :game="game"
      :game-data="gameData"
      :disallow-betting="disallowBetting"
      :minutes-string="minutesString"
      :seconds-string="secondsString"
      :win-cell-no-bs="obj.getResultbs_sum"
      :win-cell-no-sn="obj.getResults_num"
      @show-result="showResult"
    />

    <div
      ref="baccarat-disallow-betting-section"
      class="baccarat-disallow-betting-section"
      v-if="displayDisallowSection"
    >
      <Row class="baccarat-disallow-betting" type="flex" justify="center" align="middle">
        <Col>
          <div>{{ $t("general.no_more_bet") }}</div>
        </Col>
      </Row>
    </div>
  </div>
</template>

<script>
import { snakeCase } from "change-case";
import { random } from "lodash";
import { TweenLite, TimelineLite } from "gsap";
import { Row, Button, Timeline } from "iview";

import BaccaratCard from "./baccarat-game/BaccaratCard";
import BaccaratResult from "./baccarat-game/BaccaratResult";
import BaccaratPair from "./baccarat-game/BaccaratPair";
import BaccaratSum from "./baccarat-game/BaccaratSum";

import BaccaratPlayer from "./baccarat-game/BaccaratPlayer";
import BaccaratBanker from "./baccarat-game/BaccaratBanker";

import EventBus from "../../configs/event-bus";

let testarr = [];
const plateTl = new TimelineLite();
const diceTl = new TimelineLite();

export default {
  props: [
    "game",
    "gameData",
    "countDown",
    "drawResult",
    "showDrawingAnimation",
    "disallowBetting",
    "displayDisallowSection",
    "minutesString",
    "secondsString",
    "onAnimationEnd"
  ],
  components: {
    BaccaratCard,
    BaccaratResult,
    BaccaratPlayer,
    BaccaratBanker,
    BaccaratPair,
    BaccaratSum,
    Row,
    Button
  },
  computed: {
    snakeCaseTitle() {
      return snakeCase(this.game);
    }
  },
  data() {
    return {
      pd_sum: 0,
      p_pair1: [],
      p_pair2: [],

      openResult: false,
      testing: 0,
      firstp1: 0,
      firstp2: 0,

      getResults_num: 0,
      getResultPB_sum: 0,
      getResultbs_sum: 0,
      P_Sum: 0,
      B_Sum: 0,
      obj: 0,
      counter: 0
    };
  },
  watch: {
    showDrawingAnimation(newVal, oldVal) {
      // console.log(this.drawResult);
      let vm = this;
      if (newVal) {
        this.showResult(); //for highlight the draw result when flip the card
      }
      setTimeout(() => {
        this.openResult = false;
      }, 6000);
    },

    drawResult() {
      clearStakeRecord(this.gameData.gID);
      EventBus.$emit("update-session-storage");
    }
  },
  mounted() {
    this.getPrevResult();
    EventBus.$emit("update-session-storage");
  },
  methods: {
    getPrevResult: function getPrevResult() {
      this.obj = {
        getResultPB_sum: "o" + this.gameData.prev.pb,
        getResultbs_sum: "o" + this.gameData.prev.bs,
        getResults_num: "1" + this.gameData.prev.sn
      };
      return this.obj;
    },
    showResult: function showResult(getResult, getSuites) {
      clearTimeout(this.delayResultTimer);
      clearInterval(this.drawResultTimer);
      this.openResult = true;

      this.obj = 0;
      if (getResult != null) {
        if (this.counter < 5) {
          if (this.counter == 0 || this.counter == 2 || this.counter == 4) {
            if (getResult == 0) {
              this.getResults_num = "10";
            } else if (getResult == 1) {
              this.getResults_num = "11";
            } else if (getResult == 2) {
              this.getResults_num = "12";
            } else if (getResult == 3) {
              this.getResults_num = "13";
            } else if (getResult == 4) {
              this.getResults_num = "14";
            } else if (getResult == 5) {
              this.getResults_num = "15";
            } else if (getResult == 6) {
              this.getResults_num = "16";
            } else if ((getResult = 7)) {
              this.getResults_num = "17";
            } else if (getResult == 8) {
              this.getResults_num = "18";
            } else if (getResult == 9) {
              this.getResults_num = "19";
            }
          } else if (
            this.counter == 1 ||
            this.counter == 3 ||
            this.counter == 5
          ) {
            if (getResult == 0) {
              this.getResults_num = "10";
            } else if (getResult == 1) {
              this.getResults_num = "11";
            } else if (getResult == 2) {
              this.getResults_num = "12";
            } else if (getResult == 3) {
              this.getResults_num = "13";
            } else if (getResult == 4) {
              this.getResults_num = "14";
            } else if (getResult == 5) {
              this.getResults_num = "15";
            } else if (getResult == 6) {
              this.getResults_num = "16";
            } else if ((getResult = 7)) {
              this.getResults_num = "17";
            } else if (getResult == 8) {
              this.getResults_num = "18";
            } else if (getResult == 9) {
              this.getResults_num = "19";
            }
            this.B_Sum += getResult;
            this.B_Sum %= 10;
          }

          this.pd_sum = this.P_Sum + this.B_Sum;

          //Result Player & Banker
          if (this.P_Sum > this.B_Sum) {
            this.getResultPB_sum = "1";
          } else if (this.P_Sum == this.B_Sum) {
            this.getResultPB_sum = "2";
          } else if (this.P_Sum < this.B_Sum) {
            this.getResultPB_sum = "3";
          }

          if (this.pd_sum > 4) {
            this.getResultbs_sum = "8";
          } else {
            this.getResultbs_sum = "9";
          }

          this.counter++;
        } else {
          console.log("sini sini");
          this.counter = 0;
          //retrive real draw result
          this.getResultPB_sum = this.drawResult.pb;
          this.getResultbs_sum = this.drawResult.bs;
          this.getResults_num = "1" + this.drawResult.sn;
          // console.log(this.drawResult.sn);
          console.log(this.getResults_num); //2  //12
        }
        this.obj = {
          getResultPB_sum: "o" + this.getResultPB_sum,
          getResultbs_sum: "o" + this.getResultbs_sum,
          getResults_num: "o" + this.getResults_num
        };
        console.log(this.obj);
        return this.obj;
      } else {
        this.P_Sum = 0;
        this.B_Sum = 0;
        this.counter = 0;

        this.obj = 0;
        return this.obj;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.baccarat-game {
  position: relative;
  // height: 373px;
  height: 525px;
  overflow: hidden;
}
.baccarat-player-banker {
  display: flex;
  padding-bottom: 5px;
  background: #e5eaf8;
}
.baccarat-main-bet {
  display: flex;
  height: 178px;
  background-color: black;
}
.baccarat-no-bet {
  background-color: black;
}

.baccarat-animation-section {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.baccarat-animation-section.hide {
  display: none;
}

.baccarat-disallow-betting-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  background: rgba(#000000, 0.9);
  font-size: 16px;
}

.baccarat-stop-animation-section {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  background: rgba(#000000, 0.9);
  font-size: 16px;
}

.baccarat-stop-animation-section.show {
  display: block;
}

.baccarat-disallow-betting,
.baccarat-stop-animation {
  width: 100%;
  height: 100%;
}

.baccarat-animation-container {
  height: 100%;
  width: 100%;
  background: rgba(#000000, 0.9);
}

.baccarat-animation-result {
  display: none;
  width: 100%;
  height: 100%;
}

.baccarat-animation-result .baccarat-animation-result-plate {
  width: 100%;
  height: auto;
  z-index: 99;
}

.baccarat-animation-result-container,
.baccarat-animation-banner-container {
  position: relative;
}

.baccarat-animation-result-container {
  z-index: 2;
}

.baccarat-animation-banner-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: 1;
}

.baccarat-animation-result-dice {
  display: none;
  width: 15%;
  position: absolute;
  top: 0;
  z-index: 100;
  border-radius: 6px;
  box-shadow: 0 0 4px 2px #00000044;
}

.baccarat-animation-result-banner-top,
.baccarat-animation-result-banner-sum {
  width: 85%;
  position: absolute;
  top: 25%;
}

.baccarat-animation-result-banner-sum {
  top: 27%;
}

.baccarat-animation-result-banner-sum-total {
  font-size: 24px;
  color: $max-dice-theme-color-6;
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
}

.baccarat-animation-result-banner-sum-title {
  color: white;
  font-weight: bold;
}

.baccarat-animation-result-banner-bottom,
.baccarat-animation-result-banner-game {
  width: 85%;
  position: absolute;
  bottom: 25%;
}

.baccarat-animation-result-banner-game {
  bottom: 30%;
}

.baccarat-animation-result-banner-game-result {
  padding: 5px;
  background-color: white;
  color: $max-dice-theme-color-3;
  font-weight: bold;
  width: 60px;
  margin: 0 5px;
  border-radius: 8px;
  text-align: center;
}

.baccarat-game-animation-next-draw {
  background-color: $max-dice-theme-color-13;
  color: $max-dice-theme-color-5;
  border-radius: 6px;
  font-size: 14px;
  margin-right: 5px;
  padding: 4px 20px;
  font-weight: bolder;
  z-index: 1;
}

.baccarat-game-animation-next-draw-section {
  position: absolute;
  top: 20px;
  width: 100%;
}

.baccarat-animation-inner {
  position: relative;
  width: 100%;
}

.baccarat-animation-banner-inner {
  height: 100%;
}

@media only screen and (max-width: 360px) {
  .baccarat-animation-result-banner-sum {
    top: 26%;
  }

  .baccarat-animation-result-banner-game {
    bottom: 29%;
  }
}
</style>
