<template>
  <div oncontextmenu="return true">
    <Card dis-hover :id="['game-'+gameData.gID]" class="baccarat-container">
      <game-header
        :title="title"
        game="baccarat"
        gameType="baccarat"
        :game-data="gameData"
        :draw-no="drawNo"
        :minutes-string="minutesString"
        :seconds-string="secondsString"
        :disallow-betting="disallowBetting"
      />
      <baccarat-game
        game="baccarat"
        gameType="baccarat"
        :game-data="gameData"
        :draw-result="drawResult"
        :show-drawing-animation="showDrawingAnimation"
        :disallow-betting="disallowBetting"
        :display-disallow-section="displayDisallowSection"
        :minutes-string="minutesString"
        :seconds-string="secondsString"
        :on-animation-end="gameOnAnimationEnd"
      />
      <baccarat-history
        game="baccarat"
        :game-data="gameData"
        :goodroad-on="goodroadOn"
        :stat="stat"
        :historical-data="historicalData"
        :game-code="gameCode"
        :game-id="gameData['gID']"
      />
    </Card>
  </div>
</template>

<script>
import BaccaratHeader from "./BaccaratHeader";
import GameHeader from "../commons/GameHeader";
import BaccaratGame from "./BaccaratGame";
import BaccaratHistory from "./BaccaratHistory";
import gameMixin from "../../mixins/game-mixin";
import VuePopper from "vue-popperjs";
import "vue-popperjs/dist/vue-popper.css";

export default {
  mixins: [gameMixin],
  props: ["goodroadOn"],
  components: {
    GameHeader,
    BaccaratHeader,
    BaccaratGame,
    BaccaratHistory,
    VuePopper
  },
  mounted() {}
};
</script>

<style lang="scss" scoped>
.baccarat-border {
  width: 100%;
}

.border-top {
  position: absolute;
  top: 0;
}
</style>

<style lang="scss">
.baccarat-container .ivu-card-body {
  padding: 0;
}
</style>
