// ****** Default theme ******
$nav-dark-color: #333333;

$header-title: #383838;
$header-draw-no: #acacac;
$header-bg: #f3f3f3;
$header-light-color: #f3f3f3;
$header-dark-color: #e6e6e6;

$trend-bg: #e2e7f0;

$brand-color-1: #fc3861;
$brand-color-light-1: #89cbff;
$brand-color-dark-1: #223b6e;
$title-font-color: #333333;
$title-font-color-dark: #4d4f5c;
$title-font-color-blue: #4ebaf1;
$game-bet-no-color: #999999;
$game-background-color: #e1e6f2;
$game-cell-background-color: #ffffff;
$game-cell-divider-color: #e5eaf8;
$game-tabs-bar-background-color: #f2f3f4;

// ****** HiLo Theme ******
// --- Color ---
$hilo-trend-lot-color-1: #4ebaf1;
$hilo-trend-lot-color-2: #ff5050;
$hilo-trend-lot-color-3: #228b22;
$hilo-trend-lot-color-4: #454545;

// ****** HiLo Theme ******
// --- Color ---
$domino-trend-lot-color-1: #4ebaf1;
$domino-trend-lot-color-2: #ff5050;
$domino-trend-lot-color-3: #ffff99;
$domino-trend-lot-color-4: #454545;

// ****** Max Dice theme ******
// --- Color ---
$max-dice-theme-color-1: #d73f68;
$max-dice-theme-color-2: #a22d86;
$max-dice-theme-color-3: #752268;
$max-dice-theme-color-4: #000000;
$max-dice-theme-color-5: #ffffff;
$max-dice-theme-color-6: #fcff00;
$max-dice-theme-color-7: #43cecd;
$max-dice-theme-color-8: #3e7ffd;
$max-dice-theme-color-9: #fa594f;
$max-dice-theme-color-10: #6f4118;
$max-dice-theme-color-11: #f6c964;
$max-dice-theme-color-12: #eff2f8;
$max-dice-theme-color-13: #223b6e;
$max-dice-theme-color-14: #89cbff;

$max-dice-background-color: #dac1b3;
$max-dice-background-secondary-color: #b89788;
$max-dice-background-dark-color: #7f7068;
$max-dice-background-light-gradient-color-1: #d6baae;
$max-dice-background-light-gradient-color-2: #ffe4d9;
$max-dice-background-dark-gradient-color-1: #75665f;
$max-dice-background-dark-gradient-color-2: #9e8d87;
$max-dice-background-color-light-gray: #e2e7f0;
$max-dice-background-color-light-blue: #fafcff;

$game-header-rebet-font-color: #f26023;

$max-dice-gradient-light: $max-dice-theme-color-1;
$max-dice-gradient-normal: $max-dice-theme-color-2;
$max-dice-gradient-dark: $max-dice-theme-color-3;
$max-dice-active-font-color: $max-dice-theme-color-1;
$game-header-draw-font-color: #acacac;

$max-dice-header-rebet-font-color: #f26023;
$max-dice-header-light-color: #373b44;
$max-dice-header-dark-color: #4286f4;
$max-dice-header-draw-font-color: $max-dice-theme-color-14;

// ****** Baccarat Theme ******
// --- Color ---
$baccarat-trend-lot-color-1: #4ebaf1;
$baccarat-trend-lot-color-2: #ff5050;
$baccarat-trend-lot-color-3: #ffff99;
$baccarat-trend-lot-color-4: #454545;
