<template>
  <popper
    trigger="click"
    :options="{
      placement: 'top',
      modifiers: { offset: { offset: '0,10px' } }
    }">
    <div class="popper">
      Popper Content
    </div>
 
    <div slot="reference">
        <component
            :is="`num-ber-bet-lot-button`"
        
          />
    </div>
  </popper>
</template>
 
<script>
import Popper from 'vue-popperjs';
import "vue-popperjs/dist/vue-popper.css";
import {
  Row,
  Col,
  Input,
  Button,
  Form,
  FormItem,
  Message,
  Divider
} from "iview";
  
  export default {
    components: {
      'popper': Popper
    },
  }
</script> 