<template>
  <div>
    <!-- {{win}} -->
    <div
      class="baccarat-bet-lot-cell"
      :class="{ 'baccarat-bet-lot-cell-active': win, [size]: size }"
    >
      <div
        class="baccarat-bet-lot-title"
        :class="{ [size]: size }"
        type="flex"
        justify="center"
        align="middle"
      >
        <span v-html="$t(`${game}.${type}`)"></span>
        <!-- 
        <div class="rangetxt" v-if="type=='o4' || type=='o8'">[5-9]</div>
        <div class="rangetxt" v-if="type=='o5' || type=='o9'">[0-4]</div>-->
      </div>
      <div
        class="baccarat-bet-lot-bet-no"
        :class="{ [size]: size }"
        type="flex"
        justify="center"
      >{{ odd }}</div>
      <div v-if="stakeRecordSum" class="baccarat-bet-lot-stake-total">{{ stakeRecord }}</div>
    </div>
  </div>
</template>

<script>
import { Row } from "iview";
import { snakeCase } from "change-case";

export default {
  props: ["type", "odd", "win", "game", "size", "stakeRecordSum"],
  components: {
    Row
  },
  computed: {
    gameSnakeCase() {
      return snakeCase(this.game);
    },
    stakeRecord() {
      return display_numeric(this.stakeRecordSum);
    }
  },
  method: {}
};
</script>

<style lang="scss" scoped>
.rangetxt {
  color: #999;
  font-size: 8px;
  display: inline-block;
  text-align: center;
  position: absolute;
  right: 2px;
  top: 2px;
}
.open-result .baccarat-bet-lot-cell-active {
  background: linear-gradient(to right, #1a6dbc, #52b2ff);
  color: #fff;
}

.open-result .baccarat-bet-lot-cell-active .baccarat-bet-lot-title,
.open-result .baccarat-bet-lot-cell-active .baccarat-bet-lot-bet-no {
  color: #fff;
  opacity: 1;
}

.baccarat-bet-lot-cell {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  position: relative;
}

.baccarat-bet-lot-cell.small {
  padding-top: 10px;
  padding-bottom: 6px;
}

.baccarat-bet-lot-cell:first-of-type {
  margin-left: unset;
}

.baccarat-bet-lot-cell:last-of-type {
  margin-right: unset;
}

.baccarat-bet-lot-title {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  color: #000;
}

.baccarat-bet-lot-title.small {
  height: unset;
  margin-top: 5px;
}

.baccarat-bet-lot-bet-no {
  @extend .max-dice-game-bet-no;
  margin-top: 0px;
  color: #999;
  font-size: 14px;
  font-weight: bold;
}

.baccarat-bet-lot-bet-no.small {
  height: unset;
}
</style>

<style lang="scss">
.baccarat-bet-lot-cell {
  @extend .max-dice-game-btn;
}

.baccarat-bet-lot-cell.baccarat-bet-lot-cell-active .baccarat-bet-lot-title {
  color: #365c95;
}

.baccarat-bet-lot-stake-total {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  font-size: 8px;
  padding: 2px;
  background: $max-dice-theme-color-3;
  color: $max-dice-theme-color-5;
  border-bottom-left-radius: 5px;
}

@media only screen and (max-width: 360px) {
  .baccarat-bet-lot-cell {
    padding: 6px 0;
  }

  .baccarat-bet-lot-cell.large {
    padding-bottom: 6px;
  }

  // .baccarat-bet-lot-title.large {
  //   height: 32px;
  // }

  // .baccarat-bet-lot-bet-no.large,
  // .baccarat-bet-lot-bet-no.small {
  //   margin-top: 6px;
  // }
}
</style>
