<template>
  <span>
    <div v-if="openPopperID != cellData[22]" @click="openPopper(cellData[22])">
      <slot></slot>
    </div>
    <vue-popper
      v-if="openPopperID == cellData[22]"
      :ref="'popper' + cellData[22]"
      trigger="click"
      :boundaries-selector="'#game-' + gameId"
      :options="popperOptions"
      :force-show="true"
      @documentClick="closePopper(cellData[22])"
      @hide="popperHide(cellData[22])"
    >
      <div class="popper history-popper">
        <!-- Header Start -->
        <div class="history-popper-header">
          <Row type="flex" justify="space-between">
            <Col>
              <Row type="flex">
                <b class="history-title">{{ gameTitle }}</b>
              </Row>
              <Row>
                <div
                  class="history-draw-no"
                >{{ $t("general.draw_no") }}{{ gameCode }}{{ cellData[22] }}</div>
              </Row>
            </Col>
            <Col>
              <Row class="history-popper-header-close" type="flex" justify="center" align="middle">
                <Icon type="md-close" size="24" @click="closePopper(cellData[22])" />
              </Row>
            </Col>
          </Row>
        </div>
        <!-- End of Header -->
        <!-- Start of Content -->
        <Row class="history-summary" type="flex">
          <Col class="history-summar-cards">
            <Row
              class="history-summary-cards-container"
              type="flex"
              justify="center"
              align="middle"
            >
              <Col class="the-cards">
                <Row>
                  <Col class="history-player-text" :span="10">
                    {{
                    $t("baccarat.PLAYER")
                    }}
                  </Col>
                  <Col :span="4">&nbsp;</Col>
                  <Col class="history-banker-text" :span="10">
                    {{
                    $t("baccarat.BANKER")
                    }}
                  </Col>
                </Row>
                <Row type="flex">
                  <div class="row-player">
                    <Col :span="12" class="current-cards-player-first">
                      <img
                        class="player-result-one"
                        :src="
                          require(`../../../assets/images/baccarat/${cellData[1]}${cellData[2]}.png`)
                        "
                        width="100%"
                        alt
                      />
                    </Col>
                    <Col :span="12" class="summary-cards-player-second">
                      <img
                        class="player-result-two"
                        :src="
                          require(`../../../assets/images/baccarat/${cellData[3]}${cellData[4]}.png`)
                        "
                        width="100%"
                        alt
                      />
                    </Col>
                    <Col v-if="cellData[9] != 0" :span="12" class="summary-cards-player-thrid">
                      <img
                        class="player-result-three"
                        :src="
                          require(`../../../assets/images/baccarat/${cellData[9]}${cellData[10]}.png`)
                        "
                        width="100%"
                        alt
                      />
                    </Col>
                    <Col v-if="cellData[9] == 0" :span="12" class="summary-cards-player-thrid">
                      <img
                        class="player-result-three"
                        :src="
                          require(`../../../assets/images/baccarat/back.png`)
                        "
                        width="100%"
                        alt
                      />
                    </Col>
                  </div>
                  <Col :span="4" class="summary-cards-vs">VS</Col>
                  <div class="row-banker">
                    <Col :span="12" class="summary-cards-banker-first">
                      <img
                        class="banker-result-one"
                        :src="
                          require(`../../../assets/images/baccarat/${cellData[5]}${cellData[6]}.png`)
                        "
                        width="100%"
                        alt
                      />
                    </Col>
                    <Col :span="12" class="summary-cards-banker-second">
                      <img
                        class="banker-result-two"
                        :src="
                          require(`../../../assets/images/baccarat/${cellData[7]}${cellData[8]}.png`)
                        "
                        width="100%"
                        alt
                      />
                    </Col>
                    <Col v-if="cellData[11] != 0" :span="12" class="summary-cards-banker-thrid">
                      <img
                        class="banker-result-three"
                        :src="
                          require(`../../../assets/images/baccarat/${cellData[11]}${cellData[12]}.png`)
                        "
                        width="100%"
                        alt
                      />
                    </Col>
                    <Col v-if="cellData[11] == 0" :span="12" class="summary-cards-banker-thrid">
                      <img
                        class="banker-result-three"
                        :src="
                          require(`../../../assets/images/baccarat/back.png`)
                        "
                        width="100%"
                        alt
                      />
                    </Col>
                  </div>
                </Row>

                <Row>
                  <Col class="history-player-sum" :span="10">
                    {{
                    cellData[13]
                    }}
                  </Col>
                  <Col :span="4">&nbsp;</Col>
                  <Col class="history-banker-sum" :span="10">
                    {{
                    cellData[14]
                    }}
                  </Col>
                </Row>
                <Row
                  class="history-summary-result-time"
                  type="flex"
                  justify="center"
                >{{ cellData[23] }}</Row>
              </Col>
            </Row>
            <Row class="baccarat-result-pb">
              <Col v-if="cellData[0] == 1" :span="24">
                {{
                $t("baccarat.PLAYER_WIN")
                }}
              </Col>
              <Col v-if="cellData[0] == 3" :span="24">
                {{
                $t("baccarat.BANKER_WIN")
                }}
              </Col>
              <Col v-if="cellData[0] == 2" :span="24">
                {{
                $t("baccarat.TIE")
                }}
              </Col>
            </Row>

            <Row
              class="history-summary-result-time"
              type="flex"
              justify="center"
            >{{ $t("baccarat.pair") }}</Row>

            <Row v-if="this.getPairResult != 0" class="baccarat-result-pair" :gutter="12">
              <Col v-if="cellData[16] == 4" :span="12">
                {{
                $t("baccarat.PLAYER")
                }}
              </Col>
              <Col v-if="cellData[17] == 5" :span="12">
                {{
                $t("baccarat.BANKER")
                }}
              </Col>
              <Col v-if="cellData[18] == 6" :span="12">
                {{
                $t("baccarat.PERFECT")
                }}
              </Col>
              <Col v-if="cellData[19] == 7" :span="12">
                {{
                $t("baccarat.EITHER")
                }}
              </Col>
            </Row>

            <Row v-else class="baccarat-result-pair" :gutter="12">{{ $t("baccarat.NoPair") }}</Row>

            <Row
              class="history-summary-result-time"
              type="flex"
              justify="center"
            >{{ $t("baccarat.sum") }}</Row>
            <Row class="baccarat-result-sum-bs" :gutter="12">
              <Col v-if="cellData[20] == 8" :span="12">
                {{
                $t("baccarat.SUM_BIG")
                }}
              </Col>
              <Col v-if="cellData[20] == 9" :span="12">
                {{
                $t("baccarat.SUM_SMALL")
                }}
              </Col>
              <Col v-if="cellData[21].match(/^[0-9]*$/)" :span="12">
                {{
                cellData[7]
                }}
              </Col>
            </Row>
          </Col>
        </Row>
        <!-- End of Content -->
      </div>
      <div slot="reference" @click="closePopper(cellData[22])">
        <slot></slot>
      </div>
    </vue-popper>
  </span>
</template>

<script>
import VuePopper from "vue-popperjs";
import { Row, Col, Button, Message, Divider, Icon } from "iview";
import { titleCase, snakeCase } from "change-case";
import "vue-popperjs/dist/vue-popper.css";

export default {
  props: ["game", "cellData", "gameCode", "popperId", "gameId"],
  components: {
    VuePopper,
    Row,
    Col,
    Icon
  },
  data() {
    return {
      getPairResult: 0,
      popperOptions: {
        placement: "bottom",
        hide: true,
        modifiers: {
          flip: { behavior: ["bottom"] },
          preventOverflow: { priority: ["left", "right"] }
        },
        removeOnDestroy: true
      },
      openPopperID: ""
    };
  },
  computed: {
    gameTitle() {
      return titleCase(this.game);
    },
    gameSnakeCase() {
      return snakeCase(this.game);
    }
  },
  methods: {
    openPopper: function openPopper(a) {
      this.cellDataPair();
      let vm = this;
      setTimeout(function() {
        vm.openPopperID = a;
      }, 30);
    },
    closePopper: function closePopper(a) {
      this.$refs["popper" + a].doClose();
    },
    popperHide: function popperHide(a) {
      this.$refs["popper" + a].doDestroy(),
        this.openPopperID === a && (this.openPopperID = "");
    },
    cellDataPair: function cellDataPair() {
      let cellData_pair = [];
      let pair =
        this.cellData[16] +
        this.cellData[17] +
        this.cellData[18] +
        this.cellData[19];
      cellData_pair.push(pair);
      this.getPairResult = cellData_pair;
      return this.getPairResult;
    }
  }
};
</script>

<style lang="scss" scoped>
.history-title {
  text-transform: uppercase;
  color: $hilo-trend-lot-color-1;
  font-size: 14px;
}

.summary-cards-vs {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}

.baccarat-result-pb {
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 6px;
  margin: 15px 6px 15px 6px;
}

.baccarat-result-pair {
  text-align: center;
  margin: 5px;
  padding: 5px;
  background: black;
  opacity: 0.8;
  border-radius: 100px;
  width: 100%;
  width: 95%;
  right: -12px;
}

.baccarat-result-pair > div {
  padding-top: 2px;
  padding-bottom: 2px;
}

.baccarat-result-sum-bs {
  text-align: center;
  margin: 5px;
  padding: 5px;
  background: black;
  opacity: 0.8;
  border-radius: 100px;
  width: 100%;
  width: 95%;
  right: -12px;
}

.baccarat-result-sum-number {
  text-align: center;
  margin: 5px;
}

.history-popper-header {
  padding: 13px 15px;
  opacity: 0.9;
  font-size: 12px;
  padding-bottom: 0px;
}

.history-summary {
  padding: 13px 15px;
}

.history-player-text {
  color: $hilo-trend-lot-color-1;
  font-weight: 800;
  margin-bottom: 3px;
  text-align: center;
}

.history-banker-text {
  color: $baccarat-trend-lot-color-2;
  font-weight: 800;
  margin-bottom: 3px;
  text-align: center;
}

.history-summary-result-time {
  color: #ffffff;
  margin-top: 15px;
}

.champion-bs {
  color: #ffffff;
  font-weight: 500;
  margin-top: 8px;
  padding: 5px;
  background: black;
  opacity: 0.8;
  border-radius: 100px;
  width: 90px;
  left: 3px;
}

.history-player-sum {
  text-align: center;
  color: $hilo-trend-lot-color-1;
  font-weight: 800;
  margin-top: 3px;
}

.history-banker-sum {
  text-align: center;
  color: $domino-trend-lot-color-2;
  font-weight: 800;
  margin-top: 3px;
}

.player-result-one {
  opacity: 0.7;
}

.summary-cards-player-second {
  margin-left: -20px;
}

.player-result-two {
  opacity: 1;
}

.summary-cards-player-thrid {
  margin-left: -20px;
}

.player-result-three {
  opacity: 1;
}

.banker-result-one {
  opacity: 0.7;
}

.summary-cards-banker-second {
  margin-left: -20px;
}

.banker-result-two {
  opacity: 1;
}

.summary-cards-banker-thrid {
  margin-left: -20px;
}

.banker-result-three {
  opacity: 1;
}

.row-player {
  display: inline-block;
  width: 35%;
  margin-left: 10px;
  margin-right: 5px;
}
.row-banker {
  display: inline-block;
  width: 35%;
  margin-left: 8px;
}
</style>
