<template>
  <div class="domino-sum-player-big-small">
    <Row type="flex">
      <Col id="domino-history-big" class="domino-history-bar">
        {{ $t("general.Big") }}
        <span>{{ this.b_percentage }}%</span>
      </Col>
      <Col id="domino-history-small" class="domino-history-bar">
        {{ $t("general.Small") }}
        <span>{{ this.s_percentage }}%</span>
      </Col>
    </Row>
    <Row v-if="this.newArr" type="flex" justify="space-around">
      <Col class="domino-history-trend-lot-col" v-for="(col, index) in this.newArr" :key="index">
        <div
          class="domino-history-trend-lot-cell"
          :class="getPBClass(cell[5])"
          v-for="(cell, index) in col"
          :key="index"
        >
          <domino-history-popper
            :game="game"
            :cell-data="cell"
            :game-code="gameCode"
            :game-id="gameId"
          >{{ getPBCell(cell[5]) }}</domino-history-popper>
        </div>
      </Col>
    </Row>
  </div>
</template>

<script>
import { Row, Col } from "iview";
import DominoHistoryPopper from "../widgets/DominoHistoryPopper";
import { TimelineMax } from "gsap";

export default {
  props: ["historicalData", "game", "gameCode", "gameId"],
  components: {
    Row,
    Col,
    DominoHistoryPopper
  },
  data() {
    return {
      tempArr: [],
      newArr: [],
      totalRow: 18,
      b_percentage: 0,
      s_percentage: 0,
      previousBadgeCount: 0
    };
  },
  methods: {
    getPBClass(value) {
      if (value == 4) return "big";
      if (value == 5) return "small";
    },
    getPBCell(value) {
      if (value == 4) return this.$t("domino.o4_trend");
      if (value == 5) return this.$t("domino.o5_trend");
    },
    triggerBlinkingEffect() {
      this.$nextTick(() => {
        let animationTl = new TimelineMax();

        animationTl
          .to(
            "#game-" +
              this.gameId +
              " .domino-history-trend-lot-col:last-of-type .domino-history-trend-lot-cell:last-of-type",
            0.5,
            {
              opacity: 0
            }
          )
          .to(
            "#game-" +
              this.gameId +
              " .domino-history-trend-lot-col:last-of-type .domino-history-trend-lot-cell:last-of-type",
            0.5,
            {
              opacity: 1
            }
          );
        animationTl.repeat(4);
      });
    }
  },
  watch: {
    historicalData() {
      this.tempArr = [];
      let tempData = [...this.historicalData];
      let index = 0;
      this.b_percentage = 0;
      this.s_percentage = 0;

      for (var i = 0; i < tempData.length; i++) {
        let temp = [];

        if (tempData[i]["spbs"] == 4) this.b_percentage++;
        if (tempData[i]["spbs"] == 5) this.s_percentage++;

        temp.push(tempData[i]["pb"]);
        temp.push(tempData[i]["p1_result"], tempData[i]["p2_result"]);
        temp.push(tempData[i]["b1_result"], tempData[i]["b2_result"]);
        temp.push(tempData[i]["spbs"], tempData[i]["spoe"]);
        temp.push(tempData[i]["sbbs"], tempData[i]["sboe"]);
        temp.push(tempData[i]["draw_no"], tempData[i]["draw_datetime"]);
        temp.push(tempData[i]["p_sum"], tempData[i]["b_sum"]);
        this.tempArr.push(temp);
      }
      this.tempArr.reverse();

      (index = 5),
        (this.newArr = this.tempArr.reduce((result, data, i, array) => {
          if (
            !array[i - 1] ||
            data[index] !== array[i - 1][index] ||
            result[result.length - 1].length === 5
          )
            result.push([]);
          result[result.length - 1].push(data);
          return result;
        }, []));

      this.newArr.reverse();
      this.newArr.splice(this.totalRow);
      this.newArr.reverse();
      this.triggerBlinkingEffect();

      let emitArr = ["p_bs", "domino.P_BS"];
      let tempValue = 0;

      if (
        this.newArr[this.totalRow - 1][0][5] ==
        this.newArr[this.totalRow - 2][0][5]
      ) {
        tempValue =
          this.newArr[this.totalRow - 1].length +
          this.newArr[this.totalRow - 2].length;
      } else {
        tempValue = this.newArr[this.totalRow - 1].length;
      }

      if (tempValue > 3) emitArr.push(tempValue);
      else {
        emitArr.push(0);
        tempValue = 0;
      }

      emitArr.push(this.newArr[this.totalRow - 1][0][5]);

      if (this.newArr[this.totalRow - 1][0][5] == 4) {
        emitArr.push("goodRoadIconBlue");
      } else {
        emitArr.push("goodRoadIconRed");
      }

      if (this.previousBadgeCount != tempValue) {
        this.$emit("get-badge-count", emitArr);
      }

      this.previousBadgeCount = tempValue;
    }
  }
};
</script>

<style lang="scss" scoped>
.domino-history-trend-lot-cell {
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  margin-top: 6px;
  cursor: pointer;
}

.domino-history-trend-lot-cell.big {
  background: #4ebaf1;
}

.domino-history-trend-lot-cell.small {
  background: $domino-trend-lot-color-2;
}
</style>