<template>
  <div class="baccarat-sum-big-small">
    <Row type="flex">
      <Col id="baccarat-history-big" class="baccarat-history-bar">
        {{ $t("general.Big") }}
        <span>{{ this.b_percentage }}%</span>
      </Col>
      <Col id="baccarat-history-small" class="baccarat-history-bar">
        {{ $t("general.Small") }}
        <span>{{ this.s_percentage }}%</span>
      </Col>
    </Row>
    <Row v-if="this.newArr" type="flex" justify="space-around">
      <Col
        class="baccarat-history-trend-lot-col"
        v-for="(col, index) in this.newArr"
        :key="index"
      >
        <div
          class="baccarat-history-trend-lot-cell"
          :class="getPBClass(cell[20])"
          v-for="(cell, index) in col"
          :key="index"
        >
          <baccarat-history-popper
            :game="game"
            :cell-data="cell"
            :game-code="gameCode"
            :game-id="gameId"
            >{{ getPBCell(cell[20]) }}</baccarat-history-popper
          >
        </div>
      </Col>
    </Row>
  </div>
</template>

<script>
import { Row, Col } from "iview";
import BaccaratHistoryPopper from "../widgets/BaccaratHistoryPopper";
import { TimelineMax } from "gsap";

export default {
  props: ["historicalData", "game", "gameCode", "gameId"],
  components: {
    Row,
    Col,
    BaccaratHistoryPopper
  },
  data() {
    return {
      tempArr: [],
      newArr: [],
      totalRow: 18,
      b_percentage: 0,
      s_percentage: 0,
      previousBadgeCount: 0
    };
  },
  methods: {
    getPBClass(value) {
      if (value == 8) return "big";
      if (value == 9) return "small";
    },
    getPBCell(value) {
      if (value == 8) return this.$t("baccarat.o8_trend");
      if (value == 9) return this.$t("baccarat.o9_trend");
    },
    triggerBlinkingEffect() {
      this.$nextTick(() => {
        let animationTl = new TimelineMax();

        animationTl
          .to(
            "#game-" +
              this.gameId +
              " .baccarat-history-trend-lot-col:last-of-type .baccarat-history-trend-lot-cell:last-of-type",
            0.5,
            {
              opacity: 0
            }
          )
          .to(
            "#game-" +
              this.gameId +
              " .baccarat-history-trend-lot-col:last-of-type .baccarat-history-trend-lot-cell:last-of-type",
            0.5,
            {
              opacity: 1
            }
          );
        animationTl.repeat(4);
      });
    }
  },
  watch: {
    historicalData() {
      this.tempArr = [];
      let tempData = [...this.historicalData];
      let index = 0;
      this.b_percentage = 0;
      this.s_percentage = 0;

      for (var i = 0; i < tempData.length; i++) {
        let temp = [];

        if (tempData[i]["bs"] == 8) this.b_percentage++;
        if (tempData[i]["bs"] == 9) this.s_percentage++;

        temp.push(tempData[i]["pb"]); //0
        //player card
        temp.push(tempData[i]["p_card_f"], tempData[i]["p_card_f_s"]);
        temp.push(tempData[i]["p_card_s"], tempData[i]["p_card_s_s"]);
        //banker card
        temp.push(tempData[i]["b_card_f"], tempData[i]["b_card_f_s"]);
        temp.push(tempData[i]["b_card_s"], tempData[i]["b_card_s_s"]); //8

        temp.push(tempData[i]["p_hit"], tempData[i]["p_hit_s"]);
        temp.push(tempData[i]["b_hit"], tempData[i]["b_hit_s"]);

        temp.push(tempData[i]["p_sum"], tempData[i]["b_sum"]);
        let pair = tempData[i]["p_pair"] + tempData[i]["b_pair"];
        // tempData[i]["e_pair"] +
        // tempData[i]["per_pair"];
        temp.push(pair);
        temp.push(tempData[i]["p_pair"], tempData[i]["b_pair"]);
        temp.push(tempData[i]["e_pair"], tempData[i]["per_pair"]);
        temp.push(tempData[i]["bs"]);
        temp.push(tempData[i]["sn"]);
        temp.push(tempData[i]["draw_no"], tempData[i]["draw_datetime"]);
        this.tempArr.push(temp);
      }
      this.tempArr.reverse();

      (index = 20),
        (this.newArr = this.tempArr.reduce((result, data, i, array) => {
          if (
            !array[i - 1] ||
            data[index] !== array[i - 1][index] ||
            result[result.length - 1].length === 5
          )
            result.push([]);
          result[result.length - 1].push(data);
          return result;
        }, []));

      this.newArr.reverse();
      this.newArr.splice(this.totalRow);
      this.newArr.reverse();
      this.triggerBlinkingEffect();

      let emitArr = ["sum_bs", "baccarat.sum_bs"];
      let tempValue = 0;

      if (
        this.newArr[this.totalRow - 1][0][20] ==
        this.newArr[this.totalRow - 2][0][20]
      ) {
        tempValue =
          this.newArr[this.totalRow - 1].length +
          this.newArr[this.totalRow - 2].length;
      } else {
        tempValue = this.newArr[this.totalRow - 1].length;
      }

      if (tempValue > 3) emitArr.push(tempValue);
      else {
        emitArr.push(0);
        tempValue = 0;
      }
      emitArr.push(this.newArr[this.totalRow - 1][0][20]);

      if (this.newArr[this.totalRow - 1][0][20] == 21) {
        emitArr.push("goodRoadIconBlue");
      } else {
        emitArr.push("goodRoadIconRed");
      }

      if (this.previousBadgeCount != tempValue) {
        this.$emit("get-badge-count", emitArr);
      }

      this.previousBadgeCount = tempValue;
    }
  }
};
</script>

<style lang="scss" scoped>
.baccarat-history-trend-lot-cell {
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  margin-top: 6px;
  cursor: pointer;
}

.baccarat-history-trend-lot-cell.big {
  background: #4ebaf1;
}

.baccarat-history-trend-lot-cell.small {
  background: $baccarat-trend-lot-color-2;
}
</style>
