<template>
  <div class="baccarat-sum-player-odd-even">
    <Row type="flex">
      <Col id="baccarat-history-number" class="baccarat-history-bar">
        0-
        <span>{{ this.no0 }}%</span>
      </Col>

      <Col id="baccarat-history-number" class="baccarat-history-bar">
        1-
        <span>{{ this.no1 }}%</span>
      </Col>
      <Col id="baccarat-history-number" class="baccarat-history-bar">
        2-
        <span>{{ this.no2 }}%</span>
      </Col>
      <Col id="baccarat-history-number" class="baccarat-history-bar">
        3-
        <span>{{ this.no3 }}%</span>
      </Col>
      <Col id="baccarat-history-number" class="baccarat-history-bar">
        4-
        <span>{{ this.no4 }}%</span>
      </Col>
      <Col id="baccarat-history-number" class="baccarat-history-bar">
        5-
        <span>{{ this.no5 }}%</span>
      </Col>
      <Col id="baccarat-history-number" class="baccarat-history-bar">
        6-
        <span>{{ this.no6 }}%</span>
      </Col>
      <Col id="baccarat-history-number" class="baccarat-history-bar">
        7-
        <span>{{ this.no7 }}%</span>
      </Col>
      <Col id="baccarat-history-number" class="baccarat-history-bar">
        8-
        <span>{{ this.no8 }}%</span>
      </Col>
      <Col id="baccarat-history-number" class="baccarat-history-bar">
        9-
        <span>{{ this.no9 }}%</span>
      </Col>
    </Row>
    <Row v-if="this.newArr" type="flex" justify="space-around">
      <Col
        class="baccarat-history-trend-lot-col"
        v-for="(col, index) in this.newArr"
        :key="index"
      >
        <div
          class="baccarat-history-trend-lot-cell"
          :class="cell[21]"
          v-for="(cell, index) in col"
          :key="index"
        >
          <baccarat-history-popper
            :game="game"
            :cell-data="cell"
            :game-code="gameCode"
            :game-id="gameId"
            >{{ cell[21] }}</baccarat-history-popper
          >
        </div>
      </Col>
    </Row>
  </div>
</template>

<script>
import { Row, Col } from "iview";
import BaccaratHistoryPopper from "../widgets/BaccaratHistoryPopper";
import { TimelineMax } from "gsap";

export default {
  props: ["historicalData", "game", "gameCode", "gameId"],
  components: {
    Row,
    Col,
    BaccaratHistoryPopper
  },
  data() {
    return {
      tempArr: [],
      newArr: [],
      totalRow: 18,
      no0: 0,
      no1: 0,
      no2: 0,
      no3: 0,
      no4: 0,
      no5: 0,
      no6: 0,
      no7: 0,
      no8: 0,
      no9: 0,

      previousBadgeCount: 0
    };
  },
  methods: {
    triggerBlinkingEffect() {
      this.$nextTick(() => {
        let animationTl = new TimelineMax();

        animationTl
          .to(
            "#game-" +
              this.gameId +
              " .baccarat-history-trend-lot-col:last-of-type .baccarat-history-trend-lot-cell:last-of-type",
            0.5,
            {
              opacity: 0
            }
          )
          .to(
            "#game-" +
              this.gameId +
              " .baccarat-history-trend-lot-col:last-of-type .baccarat-history-trend-lot-cell:last-of-type",
            0.5,
            {
              opacity: 1
            }
          );
        animationTl.repeat(4);
      });
    }
  },
  watch: {
    historicalData() {
      this.tempArr = [];
      let tempData = [...this.historicalData];
      let index = 0;
      this.o_percentage = 0;
      this.e_percentage = 0;

      for (var i = 0; i < tempData.length; i++) {
        let temp = [];

        if (tempData[i]["sn"] == 0) this.no0++;
        if (tempData[i]["sn"] == 1) this.no1++;
        if (tempData[i]["sn"] == 2) this.no2++;
        if (tempData[i]["sn"] == 3) this.no3++;
        if (tempData[i]["sn"] == 4) this.no4++;
        if (tempData[i]["sn"] == 5) this.no5++;
        if (tempData[i]["sn"] == 6) this.no6++;
        if (tempData[i]["sn"] == 7) this.no7++;
        if (tempData[i]["sn"] == 8) this.no8++;
        if (tempData[i]["sn"] == 9) this.no9++;

        temp.push(tempData[i]["pb"]); //0
        //player card
        temp.push(tempData[i]["p_card_f"], tempData[i]["p_card_f_s"]);
        temp.push(tempData[i]["p_card_s"], tempData[i]["p_card_s_s"]);
        //banker card
        temp.push(tempData[i]["b_card_f"], tempData[i]["b_card_f_s"]);
        temp.push(tempData[i]["b_card_s"], tempData[i]["b_card_s_s"]); //8

        temp.push(tempData[i]["p_hit"], tempData[i]["p_hit_s"]);
        temp.push(tempData[i]["b_hit"], tempData[i]["b_hit_s"]);

        temp.push(tempData[i]["p_sum"], tempData[i]["b_sum"]);
        let pair = tempData[i]["p_pair"] + tempData[i]["b_pair"];
        // tempData[i]["e_pair"] +
        // tempData[i]["per_pair"];
        temp.push(pair);
        temp.push(tempData[i]["p_pair"], tempData[i]["b_pair"]);
        temp.push(tempData[i]["e_pair"], tempData[i]["per_pair"]);
        temp.push(tempData[i]["bs"]);
        temp.push(tempData[i]["sn"]);
        temp.push(tempData[i]["draw_no"], tempData[i]["draw_datetime"]);
        this.tempArr.push(temp);
      }
      this.tempArr.reverse();

      (index = 21),
        (this.newArr = this.tempArr.reduce((result, data, i, array) => {
          if (
            !array[i - 1] ||
            data[index] !== array[i - 1][index] ||
            result[result.length - 1].length === 5
          )
            result.push([]);
          result[result.length - 1].push(data);
          return result;
        }, []));

      this.newArr.reverse();
      this.newArr.splice(this.totalRow);
      this.newArr.reverse();
      this.triggerBlinkingEffect();

      let emitArr = ["sum_number", "baccarat.sum_number"];
      let tempValue = 0;

      if (
        this.newArr[this.totalRow - 1][0][21] ==
        this.newArr[this.totalRow - 2][0][21]
      ) {
        tempValue =
          this.newArr[this.totalRow - 1].length +
          this.newArr[this.totalRow - 2].length;
      } else {
        tempValue = this.newArr[this.totalRow - 1].length;
      }

      if (tempValue > 3) emitArr.push(tempValue);
      else {
        emitArr.push(0);
        tempValue = 0;
      }

      emitArr.push(this.newArr[this.totalRow - 1][0][21]);

      if (this.newArr[this.totalRow - 1][0][21] == 22) {
        emitArr.push("goodRoadIconGrey");
      } else {
        emitArr.push("goodRoadIconYellow");
      }

      if (this.previousBadgeCount != tempValue) {
        this.$emit("get-badge-count", emitArr);
      }

      this.previousBadgeCount = tempValue;
    }
  }
};
</script>

<style lang="scss" scoped>
.baccarat-history-trend-lot-cell {
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  margin-top: 6px;
  cursor: pointer;
}

.baccarat-history-trend-lot-cell.\30 {
  background: #76448a;
}

.baccarat-history-trend-lot-cell.\31 {
  background: #1a5276;
}

.baccarat-history-trend-lot-cell.\32 {
  background: #148f77;
}

.baccarat-history-trend-lot-cell.\33 {
  background: #b7950b;
}

.baccarat-history-trend-lot-cell.\34 {
  background: #f7dc6f;
}

.baccarat-history-trend-lot-cell.\35 {
  background: #e59866;
}

.baccarat-history-trend-lot-cell.\36 {
  background: #c0392b;
}

.baccarat-history-trend-lot-cell.\37 {
  background: #2e86c1;
}

.baccarat-history-trend-lot-cell.\38 {
  background: #138d75;
}

.baccarat-history-trend-lot-cell.\39 {
  background: #2e4053;
}
</style>
