<template>
  <div class="domino-history">
    <Tabs class="domino-history-tabs" type="card" :animated="false">
      <TabPane :label="result">
        <domino-result-history
          :stat="stat"
          :historical-data="rsData"
          :game="game"
          :game-code="gameCode"
          :game-id="gameId"
          @get-badge-count="getBadgeCount"
        />
      </TabPane>
      <TabPane :label="p_bs">
        <domino-sum-player-big-small
          :stat="stat"
          :historical-data="spbsData"
          :game="game"
          :game-code="gameCode"
          :game-id="gameId"
          @get-badge-count="getBadgeCount"
        />
      </TabPane>
      <TabPane :label="p_oe">
        <domino-sum-player-odd-even
          :historical-data="spoeData"
          :game="game"
          :game-code="gameCode"
          :game-id="gameId"
          @get-badge-count="getBadgeCount"
        />
      </TabPane>
      <TabPane :label="b_bs">
        <domino-sum-banker-big-small
          :historical-data="sbbsData"
          :game="game"
          :game-code="gameCode"
          :game-id="gameId"
          @get-badge-count="getBadgeCount"
        />
      </TabPane>
      <TabPane :label="b_oe">
        <domino-sum-banker-odd-even
          :historical-data="sboeData"
          :game="game"
          :game-code="gameCode"
          :game-id="gameId"
          @get-badge-count="getBadgeCount"
        />
      </TabPane>
    </Tabs>
  </div>
</template>

<script>
import { Tabs, TabPane, Row, Col, Badge, Message } from "iview";
import DominoResultHistory from "./domino-history/DominoResultHistory";
import DominoSumPlayerBigSmall from "./domino-history/DominoSumPlayerBigSmall";
import DominoSumBankerBigSmall from "./domino-history/DominoSumBankerBigSmall";
import DominoSumPlayerOddEven from "./domino-history/DominoSumPlayerOddEven";
import DominoSumBankerOddEven from "./domino-history/DominoSumBankerOddEven";

export default {
  props: [
    "stat",
    "historicalData",
    "game",
    "gameCode",
    "gameId",
    "gameData",
    "goodroadOn"
  ],
  components: {
    Tabs,
    TabPane,
    Badge,
    Message,
    DominoResultHistory,
    DominoSumPlayerBigSmall,
    DominoSumBankerBigSmall,
    DominoSumPlayerOddEven,
    DominoSumBankerOddEven
  },
  data() {
    return {
      rsData: {},
      spbsData: {},
      spoeData: {},
      sbbsData: {},
      sboeData: {},
      result: h => {
        return h("div", [h("span", this.$t("domino.result"))]);
      },
      p_bs: h => {
        return h("div", [h("span", this.$t("domino.P_BS"))]);
      },
      p_oe: h => {
        return h("div", [h("span", this.$t("domino.P_OE"))]);
      },
      b_bs: h => {
        return h("div", [h("span", this.$t("domino.B_BS"))]);
      },
      b_oe: h => {
        return h("div", [h("span", this.$t("domino.B_OE"))]);
      }
    };
  },
  watch: {
    historicalData() {
      this.rsData = [...this.historicalData];
      this.spbsData = [...this.historicalData];
      this.spoeData = [...this.historicalData];
      this.sbbsData = [...this.historicalData];
      this.sboeData = [...this.historicalData];
    }
  },
  methods: {
    getBadgeCount(value) {
      this[value[0]] = h => {
        return h("div", [
          h("span", this.$t(value[1])),
          h(Badge, { props: { count: value[2] } })
        ]);
      };
      if (value[2] > 3) {
        if (this.goodroadOn) this.displayInfoMessage(value);
      }
    },
    displayInfoMessage(arr) {
      Message.info({
        duration: 3,
        top: 10000,
        closable: true,
        render: h => {
          return h("span", [
            this.gameData.title,
            " ",
            h("span", { class: arr[4] }, this.changeCode(arr[3])),
            "  x  ",
            arr[2]
          ]);
        }
      });
    },
    changeCode(val) {
      if (val == 1) return "P";
      if (val == 2) return "T";
      if (val == 3) return "B";
      if (val == 4) return "B";
      if (val == 5) return "S";
      if (val == 6) return "O";
      if (val == 7) return "E";
      if (val == 8) return "B";
      if (val == 9) return "S";
      if (val == 10) return "O";
      if (val == 11) return "E";
      else return val;
    }
  }
};
</script>

<style lang="scss">
.ivu-icon-ios-information-circle:before {
  display: none !important;
}

.goodRoadIconRed {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  background: #ff5050;
  color: #ffffff;
  text-align: center;
  display: inline-block;
}

.goodRoadIconBlue {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  background: #4ebaf1;
  color: #ffffff;
  text-align: center;
  display: inline-block;
}

.goodRoadIconGrey {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  background: #454545;
  color: #ffffff;
  text-align: center;
  display: inline-block;
}

.goodRoadIconYellow {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  background: #ffff99;
  color: black;
  text-align: center;
  display: inline-block;
}

.goodRoadIconGreen {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  background: #228b22;
  color: #ffffff;
  text-align: center;
  display: inline-block;
}

.ivu-tabs-nav-scroll {
  overflow: hidden;
  white-space: nowrap;
}

.domino-history-tabs.ivu-tabs.ivu-tabs-card
  > .ivu-tabs-bar
  .ivu-tabs-tab-active {
  border: unset;
  color: #4ebaf1;
}

.ivu-tabs-nav-scroll .ivu-tabs-nav {
  padding: 0 4px;
}

.history-stat-bar {
  background-color: #ffffff;
  padding: 4px 12px;
  margin: 2px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 600;
}

.domino-history-tabs.ivu-tabs.ivu-tabs-card {
  position: unset;
  overflow: unset;
}

.domino-history-tabs .ivu-tabs-bar {
  border-bottom: unset;
  margin-bottom: unset;
}

.domino-history-tabs.ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
  border: unset;
  border-radius: unset;
  font-size: 10px;
  padding-bottom: unset;
  font-weight: bold;
  color: $title-font-color-blue;
  position: relative;
  background: transparent;
  height: 31px;
  line-height: 24px;
}

.domino-history-tabs.ivu-tabs.ivu-tabs-card
  > .ivu-tabs-bar
  .ivu-tabs-tab:last-of-type {
  margin-right: 0;
}

.domino-history-tabs.ivu-tabs.ivu-tabs-card
  > .ivu-tabs-bar
  .ivu-tabs-nav-container {
  color: #4ebaf1;
}

.ivu-tabs-tab-active {
  border: unset;
  color: $title-font-color-blue;
  background: #f3f3f3;
}

.domino-history-tabs.ivu-tabs.ivu-tabs-card
  > .ivu-tabs-bar
  .ivu-tabs-tab-active:after {
  content: "";
  position: absolute;
  bottom: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #4ebaf1;
}

.domino-history-tabs .ivu-tabs-tabpane {
  padding: 5px;
}

.domino-history-tabs.ivu-tabs .ivu-tabs-tabpane {
  background-color: $trend-bg;
  min-height: 180px;
}

.domino-history-tabs.ivu-tabs.ivu-tabs-card
  > .ivu-tabs-bar
  .ivu-tabs-tab-active {
  border: unset;
  color: $title-font-color-blue;
  background: #f3f3f3;
}
.domino-history-tabs.ivu-tabs.ivu-tabs-card
  > .ivu-tabs-bar
  .ivu-tabs-tab-active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #4ebaf1;
}

.ivu-badge-count {
  line-height: 12px !important;
  height: 14px !important;
  width: 12px !important;
  margin-left: 3px !important;
}
</style>