<template>
  <div ref="myCanvas" id="myCanvas" class="baccarat-card"></div>
</template>

<script>
import * as PIXI from "pixi.js";
global.PIXI = PIXI;
require("pixi-projection");
require("pixi-layers");
import { Row, Col, Button } from "iview";
import betLotMixin from "../../../mixins/bet-lot-mixin";
import EventBus from "../../../configs/event-bus";

// class CardSprite extends PIXI.projection.Container3d {
//   constructor() {
//     super();

//     const tex = loader.resources.cards.textures;

//     // shadow will be under card
//     this.shadow = new PIXI.projection.Sprite3d(tex["black.png"]);
//     this.shadow.anchor.set(0.5);
//     this.shadow.scale3d.set(0.98);
//     this.shadow.alpha = 0.7;
//     // TRY IT WITH FILTER:
//     this.shadow.filters = [blurFilter];
//     // all shadows are UNDER all cards
//     this.shadow.parentGroup = shadowGroup;
//     this.inner = new PIXI.projection.Container3d();
//     // cards are above the shadows
//     // either they have back, either face
//     this.inner.parentGroup = cardsGroup;

//     this.addChild(this.shadow);
//     this.addChild(this.inner);

//     // construct "inner" from back and face
//     this.back = new PIXI.projection.Sprite3d(tex["cover1.png"]);
//     this.back.texture.rotate = 0;
//     this.back.anchor.set(0.5);
//     this.face = new PIXI.projection.Container3d();
//     this.inner.addChild(this.back);
//     this.inner.addChild(this.face);
//     this.code = 0;
//     this.showCode = -1;
//     this.inner.euler.y = Math.PI;
//     this.scale3d.set(0.3);
//     // this.inner.rotate = 2;

//     // construct "face" from four sprites
//     this.createFace();
//   }

//   createFace() {
//     const { face } = this;
//     face.removeChildren();
//     const tex = loader.resources.cards.textures;

//     const sprite = new PIXI.projection.Sprite3d(tex["white1.png"]);
//     const sprite2 = new PIXI.projection.Sprite3d(PIXI.Texture.EMPTY);
//     const sprite3 = new PIXI.projection.Sprite3d(PIXI.Texture.EMPTY);
//     const sprite4 = new PIXI.projection.Sprite3d(PIXI.Texture.EMPTY);
//     sprite2.y = -120;
//     sprite2.x = -80;
//     sprite3.y = 70;
//     sprite3.x = 40;
//     sprite4.y = -70;
//     sprite4.x = -100;

//     sprite.anchor.set(0.5);
//     sprite2.anchor.set(0.5);
//     sprite3.anchor.set(0.5);
//     face.addChild(sprite);
//     face.addChild(sprite2);
//     face.addChild(sprite3);
//     face.addChild(sprite4);
//     face.children[1].texture.rotate = 3;
//   }

//   updateFace(suit, num) {
//     const tex = loader.resources.cards.textures;

//     const { face } = this;
//     face.children[1].texture =
//       suit == "D" || suit == "H" ? tex[`1_${num}.png`] : tex[`0_${num}.png`];
//     if (!face.children[1].texture) {
//       console.log("FAIL 1 ", `${suit % 2}_${num}.png`);
//     }
//     face.children[2].texture =
//       suit !== 0 ? tex[`${suit}_big.png`] : PIXI.Texture.EMPTY;
//     if (!face.children[2].texture) {
//       console.log("FAIL 2", `${suit}_big.png`);
//     }
//     face.children[3].texture =
//       suit !== 0 ? tex[`${suit}_small.png`] : PIXI.Texture.EMPTY;
//     if (!face.children[3].texture) {
//       console.log("FAIL 3", `${suit}_small.png`);
//     }
//   }

//   update(dt) {
//     const { inner } = this;
//     if (this.code > 0 && inner.euler.y > 0) {
//       inner.euler.y = Math.max(0, inner.euler.y - dt * 5);
//     }
//     if (this.code === 0 && inner.euler.y < Math.PI) {
//       inner.euler.y = Math.min(Math.PI, inner.euler.y + dt * 5);
//     }
//     inner.position3d.z = -Math.sin(inner.euler.y) * this.back.width;

//     // assignment is overriden, so its actually calling euler.copyFrom(this.euler)
//     this.shadow.euler = inner.euler;
//   }

//   flipanimate(vm) {
//     if (vm.startflip > 0) {
//     }
//   }

//   fading(dt, vm) {
//     // if (fadein > 0)
//     {
//       if (vm.animhero != 2 && vm.animhero != 5) {
//         if (this.position3d.y <= 0) {
//           this.position3d.y += 8;
//         } else {
//           if (vm.animhero == 0) vm.animhero = 3;
//           else if (vm.animhero == 3) vm.animhero = 1;
//           else if (vm.animhero == 1) vm.animhero = 4;
//           else if (vm.animhero == 4) vm.animhero = 6;
//         }
//       } else if (vm.animhero == 2 || vm.animhero == 5) {
//         if (this.position3d.x >= 112) {
//           this.position3d.x -= 8;
//         } else {
//           this.code = 1;
//           if (vm.animhero == 2 && vm.drawResult.b_hit != "0") vm.animhero = 5;
//           else if (vm.animhero == 5) vm.animhero = 8;
//         }
//       }
//     }
//   }

//   checkFace() {
//     const { inner } = this;
//     let cc;

//     if (!inner.isFrontFace()) {
//       // user sees the back
//       cc = 0;
//     } else {
//       // user sees the face
//       cc = this.showCode || this.code;
//     }
//     if (cc === 0) {
//       this.back.renderable = true;
//       this.face.renderable = false;
//     } else {
//       this.back.renderable = false;
//       this.face.renderable = true;
//     }

//     if (cc !== this.showCode) {
//       this.showCode = cc;
//     }
//   }

//   setHoriCard() {
//     this.angle = -90;
//   }
// }
export default {
  mixins: [betLotMixin],
  props: [
    "game",
    "winCellNo",
    "secondsString",
    "minutesString",
    "gameData",
    "showDrawingAnimation",
    "drawResult"
  ],
  components: {
    Row,
    Col,
    Button
  },
  data() {
    let app = new PIXI.Application({ autoStart: false, antialias: true });
    let loader = app.loader;
    const cardsGroup = new PIXI.display.Group(2, item => {
      item.zOrder = -item.getDepth();
      item.parent.checkFace();
    });
    return {
      startdrawing: false,
      flipP1: false,
      flipP2: false,
      flipP3: false,

      flipB1: false,
      flipB2: false,
      flipB3: false,
      drawPSum: 0,
      drawBSum: 0,
      drawPSumP2: 0,
      drawBSumB2: 0,
      drawPSumP3: 0,
      drawBSumB3: 0,
      tickerFlag: false,

      animhero: null,

      p1: "",
      p2: "",
      p3: "",
      p4: "",
      p5: "",
      p6: "",
      fadein: 0,
      startflip: 0,
      app: app,
      loader: loader,
      camera: new PIXI.projection.Camera3d(),
      blurFilter: new PIXI.filters.BlurFilter(),
      cardsGroup: cardsGroup,
      //blurFilter.blur : 0.2,
      shadowGroup: new PIXI.display.Group(1),

      cards: new PIXI.projection.Container3d(),
      CardSprite: class CardSprite extends PIXI.projection.Container3d {
        constructor() {
          super();

          const tex = loader.resources.cards.textures;

          // shadow will be under card
          this.shadow = new PIXI.projection.Sprite3d(tex["black.png"]);
          this.shadow.anchor.set(0.5);
          this.shadow.scale3d.set(0.98);
          this.shadow.alpha = 0.7;
          // TRY IT WITH FILTER:
          this.shadow.filters = [0.2];
          // all shadows are UNDER all cards
          this.shadow.parentGroup = this.shadowGroup;
          this.inner = new PIXI.projection.Container3d();
          // cards are above the shadows
          // either they have back, either face
          this.inner.parentGroup = cardsGroup;

          this.addChild(this.shadow);
          this.addChild(this.inner);

          // construct "inner" from back and face
          this.back = new PIXI.projection.Sprite3d(tex["cover1.png"]);
          this.back.texture.rotate = 0;
          this.back.anchor.set(0.5);
          this.face = new PIXI.projection.Container3d();

          this.inner.addChild(this.back);
          this.inner.addChild(this.face);

          this.inner.euler.y = Math.PI;
          this.scale3d.set(0.2);
          // this.inner.rotate = 2;
          // construct "face" from four sprites
          this.createFace();
        }

        createFace() {
          const { face } = this;
          // face.removeChildren();
          const tex = loader.resources.cards.textures;

          const sprite = new PIXI.projection.Sprite3d(tex["white1.png"]);
          const sprite2 = new PIXI.projection.Sprite3d(PIXI.Texture.EMPTY);
          const sprite3 = new PIXI.projection.Sprite3d(PIXI.Texture.EMPTY);
          const sprite4 = new PIXI.projection.Sprite3d(PIXI.Texture.EMPTY);
          sprite2.y = -120;
          sprite2.x = -80;
          sprite3.y = 70;
          sprite3.x = 40;
          sprite4.y = -70;
          sprite4.x = -100;

          sprite.anchor.set(0.5);
          sprite2.anchor.set(0.5);
          sprite3.anchor.set(0.5);
          face.addChild(sprite);
          face.addChild(sprite2);
          face.addChild(sprite3);
          face.addChild(sprite4);
          face.children[1].texture.rotate = 3;
        }

        updateFace(suit, num) {
          const tex = loader.resources.cards.textures;

          const { face } = this;
          face.children[1].texture =
            suit == "D" || suit == "H"
              ? tex[`1_${num}.png`]
              : tex[`0_${num}.png`];
          if (!face.children[1].texture) {
            console.log("FAIL 1 ", `${suit % 2}_${num}.png`);
          }
          face.children[2].texture =
            suit !== 0 ? tex[`${suit}_big.png`] : PIXI.Texture.EMPTY;
          if (!face.children[2].texture) {
            console.log("FAIL 2", `${suit}_big.png`);
          }
          face.children[3].texture =
            suit !== 0 ? tex[`${suit}_small.png`] : PIXI.Texture.EMPTY;
          if (!face.children[3].texture) {
            console.log("FAIL 3", `${suit}_small.png`);
          }
        }

        update(dt) {
          const { inner } = this;
          // console.log("update:");
          if (this.code === 1 && inner.euler.y > 0) {
            inner.euler.y = Math.max(0, inner.euler.y - dt * 5);
          }
          if (this.code === 0 && inner.euler.y < Math.PI) {
            inner.euler.y = Math.min(Math.PI, inner.euler.y + dt * 5);
          }
          inner.position3d.z = -Math.sin(inner.euler.y) * this.back.width;

          // assignment is overriden, so its actually calling euler.copyFrom(this.euler)
          this.shadow.euler = inner.euler;

          if (this.code === 1 && inner.euler.y === 0) {
          }
        }

        flipanimate(vm) {
          if (vm.startflip > 0) {
          }
        }

        fading(dt, vm) {
          // if (fadein > 0)
          {
            if (vm.animhero != 2 && vm.animhero != 5) {
              if (this.position3d.y <= -5) {
                this.position3d.y += 5;
              } else {
                if (vm.animhero == 0) vm.animhero = 3;
                else if (vm.animhero == 3) vm.animhero = 1;
                else if (vm.animhero == 1) vm.animhero = 4;
                else if (vm.animhero == 4) vm.animhero = 6;
              }
            } else if (vm.animhero == 2 || vm.animhero == 5) {
              if (this.position3d.x > 80) {
                this.position3d.x -= 8;
              } else {
                this.code = 1;
                if (vm.animhero == 2 && vm.drawResult.b_hit != "0")
                  vm.animhero = 5;
                else if (
                  vm.animhero == 2 &&
                  this.inner.euler.y === 0 &&
                  vm.drawResult.b_hit === "0"
                )
                  vm.animhero = 8;
                else if (vm.animhero == 5 && this.inner.euler.y === 0)
                  vm.animhero = 8;
              }
            }
          }
        }

        checkFace() {
          const { inner } = this;
          let cc;

          if (!inner.isFrontFace()) {
            // user sees the back
            cc = 0;
          } else {
            // user sees the face
            cc = this.showCode || this.code;
          }
          if (cc === 0) {
            this.back.renderable = true;
            this.face.renderable = false;
          } else {
            this.back.renderable = false;
            this.face.renderable = true;
          }

          if (cc !== this.showCode) {
            this.showCode = cc;
          }
        }

        setHoriCard() {
          this.angle = -90;
        }
      }
    };
  },
  watch: {
    showDrawingAnimation(newVal, oldVal) {
      let vm = this;
      if (newVal) {
        // console.log("baccarat show drawing");
      }
    },
    drawResult(newVal, oldVal) {
      let vm = this;
      if (newVal) {
        this.tickerFlag = true;
        this.app.ticker.start();
        // cards.removeChildren();

        // cards.addChild(this.p1);
        // cards.addChild(this.p2);
        // cards.addChild(this.p3);
        // cards.addChild(this.b1);
        // cards.addChild(this.b2);
        // cards.addChild(this.b3);

        vm.p1.code = 0;
        vm.p2.code = 0;
        vm.p3.code = 0;
        vm.b1.code = 0;
        vm.b2.code = 0;
        vm.b3.code = 0;

        vm.p1.position3d.y = -600;
        vm.p2.position3d.y = -600;
        vm.p3.position3d.x = 600;
        vm.b1.position3d.y = -600;
        vm.b2.position3d.y = -600;
        vm.b3.position3d.x = 600;

        // this.fadein = 1;
        this.animhero = 0;

        //   for(let i = 0; i <= 600 ; i++){
        //     vm.p1.position3d.y += i;
        //   }
        // }
        // vm.p1.code = 0;
        // vm.p2.code = 0;
        // vm.p3.code = 0;
        // vm.b1.code = 0;
        // vm.b2.code = 0;
        // vm.b3.code = 0;
        vm.p1.updateFace(vm.drawResult.p_card_f_s, vm.drawResult.p_card_f);
        vm.p2.updateFace(vm.drawResult.p_card_s_s, vm.drawResult.p_card_s);
        vm.p3.updateFace(vm.drawResult.p_hit_s, vm.drawResult.p_hit);
        vm.b1.updateFace(vm.drawResult.b_card_f_s, vm.drawResult.b_card_f);
        vm.b2.updateFace(vm.drawResult.b_card_s_s, vm.drawResult.b_card_s);
        vm.b3.updateFace(vm.drawResult.b_hit_s, vm.drawResult.b_hit);
      }
    }
  },
  computed: {
    playerSum() {
      return this.drawResult.p_sum;
    },
    bankerSum() {
      return this.drawResult.b_sum;
    }
  },
  mounted() {
    this.$refs["myCanvas"].appendChild(this.app.view);
    this.app.stage = new PIXI.display.Stage();
    // const { loader } = app;
    this.loader.reset();
    this.camera.position.set(
      this.app.screen.width / 2,
      this.app.screen.height / 2
    );
    this.camera.setPlanes(350, 30, 10000);
    this.camera.euler.x = Math.PI / 5.5;
    this.app.stage.addChild(this.camera);

    this.cards.position3d.y = 25;
    // MAKE CARDS LARGER:
    this.cards.scale3d.set(2.0);
    this.camera.addChild(this.cards);

    // Layers are 2d elements but we use them only to show stuff, not to transform items, so its fine :)
    this.camera.addChild(new PIXI.display.Layer(this.shadowGroup));
    this.camera.addChild(new PIXI.display.Layer(this.cardsGroup));
    // we could also add layers in the stage, but then we'll need extra layer for the text

    // load assets
    this.loader.add("cards", "/img/cards.json");
    this.loader.add(
      "table",
      `${require(`../../../assets/images/baccarat/table.png`)}`
    );
   this.app.ticker.autoStart = false;
    let counter = 0;
    this.loader.load(this.onAssetsLoaded);
    this.app.ticker.stop();
 
    
    this.app.ticker.add(deltaTime => {
      console.log("running");
      for (let i = 0; i < this.cards.children.length; i++) {
        this.cards.children[i].update(deltaTime / 60.0);
      }

      if (this.animhero != null && this.animhero < 6) {
        this.cards.children[this.animhero].fading(deltaTime, this);
      }

      if (this.animhero == 6) {
        this.cards.children[0].code = 1;
        this.cards.children[3].code = 1;
        counter += 1;

        if (counter >= 60) {
          this.animhero = 7;
          counter = 0;
        }
      } else if (this.animhero == 7) {
        this.cards.children[1].code = 1;
        this.cards.children[4].code = 1;
        counter += 1;
        if (counter >= 120) {
          if (this.drawResult.p_hit != "0") {
            this.animhero = 2;
          } else if (this.drawResult.b_hit != "0") {
            this.animhero = 5;
          } else {
            this.animationEnd();
            this.app.ticker.stop();
            this.tickerFlag = false;
            this.animhero = null;
          }

          counter = 0;
        }
      } else if (this.animhero == 8) {
        console.log("this.animhero:" + this.animhero);
        // if (this.drawResult.p_hit != '0') {
        //   cards.children[2].code = 1;
        // }
        // if (this.drawResult.b_hit != '0') {
        //   cards.children[5].code = 1;
        // }
        this.animationEnd();

        this.animhero = null;
        this.app.ticker.stop();
        this.tickerFlag = false;
      }

      //  cards.children[0].fading(deltaTime, this.fadein);
      //  cards.children[1].fading(deltaTime, this.fadein);
      //  cards.children[3].fading(deltaTime, this.fadein);
      //  cards.children[4].fading(deltaTime, this.fadein);
      // We are gonna sort and show correct side of card,
      // so we need updateTransform BEFORE the sorting will be called.
      // otherwise this part will be tardy by one frame
      this.camera.updateTransform();
      if(this.tickerFlag == false){
        this.app.ticker.stop();
      }
    });

  },

  methods: {
    dealHand() {
      this.cards.removeChildren();
      this.p1 = new this.CardSprite();
      this.p2 = new this.CardSprite();
      this.p3 = new this.CardSprite();

      this.p3.setHoriCard();
      this.b1 = new this.CardSprite();
      this.b2 = new this.CardSprite();
      this.b3 = new this.CardSprite();
      this.b3.setHoriCard();

      this.p1.position3d.x = 56 * (0.5 - 2.5);
      this.p2.position3d.x = 56 * (1.5 - 2.5);

      if (this.drawResult.p_hit != "0") {
        this.p3.position3d.x = 56 * (4.5 - 3.0);
      } else {
        this.p3.position3d.x = 600;
      }
      this.p3.position3d.y = -90;

      this.b1.position3d.x = 56 * (4 - 2.5);
      this.b2.position3d.x = 56 * (5 - 2.5);
      if (this.drawResult.b_hit != "0") {
        this.b3.position3d.x = 56 * (4.5 - 3.0);
      } else {
        this.b3.position3d.x = 600;
      }

      this.b3.position3d.y = 100;

      this.p1.updateFace(this.drawResult.p_card_f_s, this.drawResult.p_card_f);
      this.p2.updateFace(this.drawResult.p_card_s_s, this.drawResult.p_card_s);
      this.p3.updateFace(this.drawResult.p_hit_s, this.drawResult.p_hit);
      this.b1.updateFace(this.drawResult.b_card_f_s, this.drawResult.b_card_f);
      this.b2.updateFace(this.drawResult.b_card_s_s, this.drawResult.b_card_s);
      this.b3.updateFace(this.drawResult.b_hit_s, this.drawResult.b_hit);

      // this.p1.update(0);
      // this.p2.update(0);
      // this.p3.update(0);
      // this.b1.update(0);
      // this.b2.update(0);
      // this.b3.update(0);

      this.p1.code = 2;
      this.p1.inner.euler.y = 0;

      this.p2.code = 2;
      this.p2.inner.euler.y = 0;

      this.p3.code = 2;
      this.p3.inner.euler.y = 0;
      this.p3.position.z = 100;

      this.b1.code = 2;
      this.b1.inner.euler.y = 0;

      this.b2.code = 2;
      this.b2.inner.euler.y = 0;

      this.b3.code = 2;
      this.b3.inner.euler.y = 0;

      this.cards.addChild(this.p1);
      this.cards.addChild(this.p2);
      this.cards.addChild(this.p3);
      this.cards.addChild(this.b1);
      this.cards.addChild(this.b2);
      this.cards.addChild(this.b3);
      // for (let i = 0; i < 6; i++) {
      //   const card = new CardSprite();
      //   card.updateFace(1,11);
      //   card.position3d.x = 56 * (i - 2.5);
      //   if (((Math.random() * 3) | 0) === 0) {
      //     this.onClick({ target: card });
      //   }
      //   card.update(0);
      //   card.interactive = true;
      //   card.on("mouseup", this.onClick);
      //   card.on("touchend", this.onClick);
      //   cards.addChild(card);
      // }
    this.app.ticker.stop();
    },

    onClick(event) {
      const { target } = event;
      if (target.code === 0) {
        // const num = ((Math.random() * 13) | 0) + 2;
        // const suit = ((Math.random() * 4) | 0) + 1;
        target.code = 1;
        // target.code = suit * 16 + num;
      } else {
        target.code = 0;
      }
    },

    addText(txt) {
      const style = {
        fontSize: 80,
        fontFamily: "Arial",
        fill: "#f5ffe3",
        dropShadow: true,
        dropShadowColor: "rgba(1, 1, 1, 0.4)",
        dropShadowDistance: 6,
        wordWrap: false
      };
      const basicText = new PIXI.projection.Text3d(txt, style);
      basicText.position3d.x = -240;
      basicText.position3d.y = 20;
      this.camera.addChild(basicText);
    },

    onAssetsLoaded() {
      // background must be UNDER camera, it doesnt have z-index or any other bullshit for camera
      let test = new PIXI.Sprite(this.loader.resources.table.texture);

      test.width = 1600;
      test.height = 1200;
      test.x = -400;
      test.y = -300;
      // test.scale = 100;
      this.app.stage.addChildAt(test, 0);
      this.dealHand();
      this.addText("Tap on cards");
      // start animating
      this.app.start();
    },
    animationEnd() {
      this.$emit("on-animation-end");
    },
    showResult(result, getSuites) {
      //pass to baccarat game show result function
      this.$emit("show-result", result, getSuites);
    }
  }
};
</script>

<style lang="scss" scoped>
.baccarat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 100%;
  // background: url("../../../assets/images/baccarat/red-bg.jpg");
  background: #182841;
  background: -moz-linear-gradient(top, #182841 0%, #0a1527 100%);
  background: -webkit-linear-gradient(top, #182841 0%, #0a1527 100%);
  background: linear-gradient(to bottom, #182841 0%, #0a1527 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182841', endColorstr='#0a1527',GradientType=0 );
}

.baccarat-player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.baccarat-player-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

//player-first-card-flip
.baccarat-player-first-card {
  width: 40px;
  height: 80px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-active {
  transform: rotateY(180deg);
}
// .baccarat-player-first-card:hover {
//   transform: rotateY(180deg);
// }
.player-first-front-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // background-image: url("../../../assets/images/baccarat/66.png");
}
.player-first-front-card,
.player-first-back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.player-first-back-card {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../assets/images/baccarat/back.png");
}

//player-sec-card-flip
.baccarat-player-sec-card {
  width: 40px;
  height: 80px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
// .baccarat-player-sec-card:hover {
//   transform: rotateY(180deg);
// }

.player-sec-front-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // background-image: url("../../../assets/images/baccarat/66.png");
}
.player-sec-front-card,
.player-sec-back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.player-sec-back-card {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../assets/images/baccarat/back.png");
}

.baccarat-player-hit-card {
  width: 40px;
  height: 80px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.player-hit-front-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.player-hit-front-card,
.player-hit-back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.player-hit-back-card {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../assets/images/baccarat/back.png");
}

//banker-first-card-flip
.baccarat-banker-first-card {
  width: 40px;
  height: 80px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
// .baccarat-banker-first-card:hover {
//   transform: rotateY(180deg);
// }
.banker-first-front-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.banker-first-front-card,
.banker-first-back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.banker-first-back-card {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../assets/images/baccarat/back.png");
}

//banker-sec-card-flip
.baccarat-banker-sec-card {
  width: 40px;
  height: 80px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

// .baccarat-banker-sec-card:hover {
//   transform: rotateY(180deg);
// }
.banker-sec-front-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.banker-sec-front-card,
.banker-sec-back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.banker-sec-back-card {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../assets/images/baccarat/back.png");
}

.baccarat-banker-hit-card {
  width: 40px;
  height: 80px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.banker-hit-front-card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.banker-hit-front-card,
.banker-hit-back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.banker-hit-back-card {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../assets/images/baccarat/back.png");
}

.baccarat-player-hit-card-empty {
  // transform: rotateY(180deg);
  width: 40px;
  height: 80px;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../assets/images/baccarat/back.png");
}

.baccarat-player-total {
  font-size: 16px;
  font-weight: bold;
  color: $baccarat-trend-lot-color-1;
}
.baccarat-vs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.baccarat-banker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.baccarat-banker-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.baccarat-banker-total {
  font-size: 16px;
  font-weight: bold;
  color: $baccarat-trend-lot-color-2;
}
.baccarat-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 94%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.flip-active {
  transform: rotateY(180deg);
}
.card,
.card-back {
  position: absolute;

  backface-visibility: hidden;
}
.card-back {
  //  backface-visibility: visible;
  background-color: white;
  transform: rotateY(180deg);
}

.count-up-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #858585;
  border: 1px solid transparent;
}
.count-up-third {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #2a2a2a;
}
.round-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 31px;
  width: 31px;
  color: white;
  font-size: 12px;
  text-align: center;
}
.round-up svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: -1px;
  top: 0;
  right: 0;
  width: 26px;
  height: 32px;
  transform: rotateZ(90deg) rotateZ(180deg);
}
.round-up svg circle {
  stroke-linecap: unset;
  stroke-width: 2px;
  stroke: #ff8a01;
  fill: none;
  r: 12;
  cx: 12.5;
  cy: 16.5;
}

.baccarat-card-betlot {
  flex: 1;
  margin: 0 2px;
}

.baccarat-card-betlot:first-of-type {
  margin-left: unset;
}

.baccarat-card-betlot:last-of-type {
  margin-right: unset;
}
</style>
