<template>
  <div class="baccarat-banker">
    <div class="baccarat-banker-title">{{ $t("baccarat.sum_banker") }}</div>
    <div class="baccarat-banker-container">
      <new-bet-lot
        v-for="item in gameRow1"
        class="baccarat-banker-betlot"
        :key="item"
        :type="item"
        :win="winNumbers[0] === item"
        :odd="odd(item)"
        :gameType="game"
        :game="game"
        :game-data="gameData"
        :minutes-string="minutesString"
        :seconds-string="secondsString"
        :disallow-betting="disallowBetting"
        :stake-record-sum="stakeRecordSum(item)"
        @update-session-storage="onUpdateSessionStorage"
      />
    </div>
    <div class="baccarat-banker-divider"></div>
    <div class="baccarat-banker-container">
      <new-bet-lot
        v-for="item in gameRow2"
        class="baccarat-banker-betlot"
        :key="item"
        :type="item"
        :win="winNumbers[1] === item"
        :odd="odd(item)"
        :gameType="game"
        :game="game"
        :game-data="gameData"
        :minutes-string="minutesString"
        :seconds-string="secondsString"
        :disallow-betting="disallowBetting"
        :stake-record-sum="stakeRecordSum(item)"
        @update-session-storage="onUpdateSessionStorage"
      />
    </div>
  </div>
</template>

<script>
import { Row, Col, Button } from "iview";
import NewBetLot from "../../commons/NewBetLot";
import betLotMixin from "../../../mixins/bet-lot-mixin";

export default {
  mixins: [betLotMixin],
  props: ["game", "winNumbers", "gameData"],
  components: {
    Row,
    Col,
    Button,
    NewBetLot
  },
  data() {
    return {
      gameRow1: ["o8", "o9"],
      gameRow2: ["o10", "o11"]
    };
  }
};
</script>

<style lang="scss" scoped>
.baccarat-banker {
  width: 50%;
}
.baccarat-banker-title {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1c3a67;
  font-weight: bold;
  color: white;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.baccarat-banker-container {
  display: flex;
  padding: 5px 5px 0;
}
.baccarat-banker-divider {
  height: 1px;
}
.baccarat-banker-betlot {
  flex: auto;
  background: #ffffff;
  width: 50%;
}

.baccarat-banker-betlot:hover {
  background: #f5eeb8;
  cursor: pointer;
}

.baccarat-banker-betlot:first-of-type {
  margin-left: unset;
  border-radius: 5px 0 0 5px;
}

.baccarat-banker-betlot:last-of-type {
  margin-right: unset;
  border-radius: 0 5px 5px 0;
}
</style>
